#page-listar-cliente
  padding 10px 0

  h2
    font-size 32px
    font-weight normal
    padding-bottom 5px

  table button
    padding 0 5px

    &:hover
      cursor pointer
      color laranja

  .nenhum-resultado
    margin-top 20px
