#login-screen
    display flex
    align-items center
    justify-content center
    min-height 100vh
    background-color #86AF47

.main-login
    max-width 500px
    width 100%
    padding 20px
    color #292D32

    img
      width: 300px
      display: table
      margin: 0 auto 40px

    p
      font-size 10px
      text-align center

    div
      display flex
      align-items center
      background rgba(0, 0, 0, 0.2)
      width 100%
      margin 10px 0
      font-size 14px
      transition 0.5s
      border-radius 5px

      input
        color #C4DB97
        flex auto
        padding 10px

        &::placeholder
          color #C4DB97

      i
        font-size 20px
        padding 10px
        border-right solid 2px #86AF47
        color #C4DB97

    button
      display table
      padding 10px 50px
      margin 10px auto 30px
      border-radius 10px
      background #292D32
      color #86AF47
      text-transform uppercase
      font-weight bold
      font-size 16px
      cursor pointer
      letter-spacing 1px




