@import '_login.styl'
@import '_menu.styl'
@import '_dois-fatores.styl'
@import '_listar-cliente.styl'
@import '_ver-cliente.styl'
@import '_relatorio.styl'
@import '_configuracoes'
@import '_cadastrar-cliente.styl'
