<nav class="menu-principal">
  <div class="card-profile">
    <img src="assets/img/robot.png" alt="Botmex" />
    <span>
      <img src="assets/img/logo-bitmex.png" alt="Bitmex" />
    </span>
    <p>{{nome}}</p>
    <p>{{email}}</p>
    <div class="social-bts">
      <a href="https://api.whatsapp.com/send?phone=5563984605450" target="_blank"><i class="fab fa-whatsapp-square"></i>
        Whatsapp</a>
      <a href="https://www.linkedin.com/in/vitor-zort%C3%A9a-64478411b/" target="_blank"><i class="fab fa-linkedin"></i>
        Linkedin</a>
    </div>
  </div>
  <ul>
    <li><span><i class="far fa-home-lg-alt"></i> Página Inicial</span></li>
    <li><span><i class="far fa-chart-line"></i> Análise Anual</span></li>
    <li><span (click)="logout()"><i class="fal fa-power-off"></i> Sair</span></li>
  </ul>
</nav>