<nav class="menu-principal">
  <div class="card-profile">
      <img src="assets/img/robot.png" alt="Botmex" />
      <span>
        <img src="assets/img/logo-bitmex.png" alt="Bitmex" />
      </span>
      <p>{{nome}}</p>
      <p>{{email}}</p>
      <div class="social-bts">
        <a href="https://t.me/joinchat/DBxnxRHAlubqOO51WtXEHg" target="_blank"><i class="fab fa-telegram-plane"></i> Telegram</a>
        <a href="https://www.instagram.com/botmex.info/?igshid=16prih9b7cq4c" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
      </div>
  </div>
  <ul>
    <li><span><i class="far fa-home-lg-alt"></i> Página Inicial</span></li>
    <li><span><i class="far fa-chart-line"></i> Análise Anual</span></li>
    <li><span (click)="logout()"><i class="fal fa-power-off"></i> Sair</span></li>
  </ul>
</nav>
