<div id="main-wallet">
  <div class="container row">

    <div class="col-xl-6 col-md-12">
      <div class="box-default principal-info">
        <h2>Acumulado do mês</h2>
        <div>
          <p>Bitcoin</p>
          <p>{{bitcoinMes | number: '1.8-8'}}</p>
        </div>
        <div>
          <p>Profit</p>
          <p [ngClass]="{'positivo': proftMes > 0, 'negativo': 0 > proftMes}">
            {{proftMes | number: '1.2-2'}}%
          </p>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-md-12">
      <div class=" box-default principal-info">
        <h2>Operações de hoje</h2>
        <div>
          <p>Bitcoin</p>
          <p>{{bitcoinDia | number: '1.8-8'}}</p>
        </div>
        <div>
          <p>Profit</p>
          <p [ngClass]="{'positivo': proftDia > 0, 'negativo': 0 > proftDia}">
            {{proftDia | number: '1.2-2'}}%
          </p>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="box-default infos-mercado">
        <div class="row">
          <div id="mercado">
            <p>
              <i class="fas fa-arrow-circle-up"></i>
              <span>
                O Mercado está
                <strong>Em Alta</strong>
              </span>
            </p>
          </div>

          <div class="main-infos-mercado">
            <p>Montante usado</p>
            <p>{{wallet.operacoes.montanteAtual}}</p>
          </div>

          <div class="main-infos-mercado">
            <p>PROFIT</p>
            <p>{{wallet.operacoes.profitResult}}%</p>
            <p>{{wallet.operacoes.profit}}</p>
          </div>

          <div class="main-infos-mercado">
            <p>LOSS</p>
            <p class="text-opacity">0.00%</p>
            <p class="text-opacity">0.00000000</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-12">
      <div class="box-default controler-loss-gain">
        <div>
          <div>
            <h2>Stop Gain</h2>
            <span>
              <label class="check-stop"><input type="checkbox"><span></span></label>
              <label class="number-stop"><input type="number" min="0" max="100"
                  value="{{wallet.stopGain.value}}"><span>%</span></label>
            </span>
          </div>
        </div>
        <div>
          <div>
            <h2>Stop Loss</h2>
            <span>
              <label class="check-stop"><input type="checkbox" checked><span></span></label>
              <label class="number-stop"><input type="number" min="0" max="100"
                  value="{{wallet.stopLoss.value}}"><span>%</span></label>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-9 col-md-12">
      <div class="box-default">
        <canvas id="canvas"></canvas>
      </div>
    </div>

    <div class="table">
      <table>
        <thead>
          <tr>
            <th>
              Data
            </th>
            <th>
              Tipo
            </th>
            <th>
              Montante
            </th>
            <th>
              Profit
            </th>
            <th>
              Resultado
            </th>
            <th>
              Fee Botmex
            </th>
            <th>
              Status
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let line of wallet.wallet">
            <td>
              <p>{{line.date}}</p>
            </td>
            <td>
              <p>{{line.type }}</p>
            </td>
            <td>
              <p>{{line.montante}}</p>
            </td>
            <td [ngClass]="{'positivo' : (line.profit > 0 ), 'negativo' :  !(line.profit > 0 )}">
              <p>{{line.profit | number: '1.8-8'}}</p>
            </td>
            <td>
              <p>{{ line.result}}%</p>
            </td>
            <td class="positivo-azul">
              <p>{{ line.fee | number: '1.8-8'}}</p>
            </td>
            <td>
              <p>{{line.status }}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>