escala-cinza-1 = #ffffff
escala-cinza-2 = #e5e5e5
escala-cinza-3 = #d1d1d1
escala-cinza-4 = #b2b2b2
escala-cinza-5 = #999999
escala-cinza-6 = #808080
escala-cinza-7 = #666666
escala-cinza-8 = #4d4d4d
escala-cinza-9 = #333333
escala-cinza-10 = #1a1e24
escala-cinza-11 = #030c16

background-white= #f5f5f5

laranja = #f15a24
vermelho = #ff3548
vermelho-escuro = #cc0001
verde = #009d25
amarelo = #ffbb34
amarelo-escuro = #fe9003
amarelo-queimado = #f9c700
azul = #33b5e7
azul-escuro = #05009f
turqueza = #2abbac
turqueza-escuro = #00695b
roxo = #aa66cd
roxo-escuro = #9a33cc
