.aviso-resultado
  display flex
  margin 20px auto
  align-items center
  font-size 26px
  font-weight bold
  border solid vermelho 1px
  padding 10px
  border-radius 10px

  img
    max-width 80px
    padding-right 20px
