form.row
  margin 0 -5px

  label span
    padding 0 10px 5px
    display table
    color escala-cinza-5

  input, select
    width 100%
    padding 5px 10px
    border solid 1px escala-cinza-3
    border-radius 10px
    background escala-cinza-1

    &[type='date']
      padding 7px 10px

  button
    background-color laranja
    color escala-cinza-1
    padding 8px 40px
    border-radius 10px
    color escala-cinza-1
    margin 20px auto 0
    display table

  .input-sem-alteracao
    background escala-cinza-2
    width 100%
    margin-top 2em
    display flex
    align-items center
    padding 5px 10px
    border-radius 10px
