section.pop-up
    display none
    align-items center
    justify-content center
    width 100%
    height 100vh
    position fixed
    top 0
    left 0
    background rgba(0, 0, 0, 0.8)

    &.pop-up-active
      display flex
      animation openPopUp 1s
      animation-fill-mode forwards

  .main-up
    position relative
    z-index 2
    padding 20px 20px 40px
    background escala-cinza-1
    border-radius 10px

    i.fas.fa-times-circle
      color escala-cinza-5
      cursor pointer
      display table
      margin 0 0 0 auto

      &:hover
        color vermelho

  .sair-up
    display table
    position fixed
    top 0
    left 0
    width 100vw
    height 100vh

@keyframes openPopUp
	from
		transform translate(0, 20px)
		opacity 0

	to
		transform translate(0, 0)
		opacity 1
